.upload{
    font-size: calc(60px + 0.7vw); 
}
.title{
    font-size: calc(25px + 0.2vw);
    text-align: center;
    margin-bottom: 10px;
}
.text{
    font-size: calc(18px + 0.2vw);
    text-align: center;
    padding: 0px 15px 0px 15px;
}
.continue{
    width: calc(140px + 1vw);
    height: calc(35px + 0.2vw);
    border-radius: 100px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    font-size: calc(17px + 0.1vw);
    transition: all 200ms ease-in-out;
}
.check{
    background-color: green;
    border-radius: 50%;
    width: calc(35px + 0.2vw);
    height: calc(35px + 0.2vw);
}

.continue:hover{
    background-color: black;
    color: white;
}
.paperTextarea{
    border-radius: 4px;
    max-width: calc(175px + 10vw);
    min-width: calc(175px + 10vw);
    min-height: calc(120px + 1vh);
    max-height: calc(120px + 1vh);
    outline: none;
    resize: none;
    padding: 4px;
    background-color: white;
    color: #38041e;
    font-family: "Padauk", sans-serif;
    border: none;
    box-shadow: 0px 0px 2px 2px rgba(27, 27, 27, 0.16);
    word-wrap: break-word;
}