.sendContainer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: calc(57px + 1.8vh);
    /* min-height: 50px;
    max-height: 95px; */
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: rgb(29, 28, 28);
    border-radius: 6px;
    justify-content: center;
}

.sendContainer input {
    background-color: rgb(48, 48, 48);
    width: 80%;
    height: 75%;
    max-height: 63px;
    font-size: 20px;
    color: rgb(219, 219, 219);
    outline: none;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    box-shadow: 0px 0px 1px 2px rgba(23, 22, 22, 0.38);
    padding-left: 8px;
    padding-right: 8px;
}

.sendContainer button {
    border-radius: 50%;
    background-color: #800040;
    border: none;
    outline: none;
    cursor: pointer;
    width: calc(40px + 1vw);
    height: calc(40px + 1vw);
    max-height: 63px;
    max-width: 63px;
    color: white;
    font-size: calc(18px + 0.1vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 100ms ease-in-out;
}

.sendContainer button:hover {
    background-color: #460626;
}

.backBut {
    border: none;
    width: calc(35px + 1vw);
    height: calc(25px + 1vh);
    margin-left: 5px;
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    transition: all 100ms ease-in-out;
}

.mesNav {
    width: 100%;
    height: calc(55px + 1vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: 62px; */
    color: black;
    background-color: rgb(34, 34, 34);
    margin-bottom: 8px;
}

.containers {
    display: flex;
    align-items: center;
}

.messageContainer {
    overflow-y: scroll;
    margin-bottom: 10px;
    height: calc(97.2vh - 125px);
    width: 100%;
    scrollbar-color:rgb(35, 34, 34) ;
    scrollbar-width: thin;
}

.messageContainer::-webkit-scrollbar {
    width: 4px;
}

.messageContainer::-webkit-scrollbar-track {
    background-color: rgb(35, 34, 34);
}

.messageContainer::-webkit-scrollbar-thumb {
    background: rgb(99, 98, 98);
}

.options {
    border: none;
    width: calc(30px + 1vw);
    height: calc(25px + 1vh);
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    transition: all 100ms ease-in-out;
}

.mesNav h2 {
    color: white;
    cursor: pointer;
}

.alignImg {
    width: calc(37px + 0.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    cursor: pointer;
}

.alignImg img {
    border-radius: 50%;
}

.backBut:hover,
.options:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: black;
}

.myMessage {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5px;
}

.friendMessage {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.myMessageContainer {
    max-width: 70vw;
    min-width: 70px;
    background-color: #800040;
    margin-right: 12px;
    border-radius: 8px 8px 0px 8px;
    padding-left: 7px;
    padding-right: 35px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 19px;
}

.myText,
.friendText {
    font-size: 22px;
    overflow-wrap: break-word;
    width: 100%;
}

.friendContainer {
    max-width: 70vw;
    min-width: 70px;
    margin-left: 12px;
    border-radius: 8px 8px 8px 0px;
    background-color: rgb(48, 48, 48);
    padding: 3px;
    padding-left: 7px;
    padding-bottom: 15px;
    padding-right: 35px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.tailF {
    position: absolute;
    border: 3px solid rgb(48, 48, 48);
    bottom: 0px;
    left: -2px;
    border-radius: 6px 0px 0px 0px;
}

.tailM {
    position: absolute;
    border: 3px solid #800040;
    bottom: 0px;
    right: -2px;
    border-radius: 0px 6px 0px 0px;
}

.messageTime {
    position: absolute;
    right: 6px;
    bottom: 3px;
}

.myMessageTime{
    position: absolute;
    right: 25px;
    bottom: 3px;
}

.checkMessage{
    position: absolute;
    bottom: 3px;
    right: 4px;
    color: rgb(255, 255, 255);
}

.renderMoreDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renderMore{
    cursor: pointer;
    height: 40px;
    width: calc(140px + 1vw);
    border-radius: 20px;
    outline: none;
    margin: auto;
    color: white;
    background-color: #800040;
    border: none;
    box-shadow: 0px 0px 1px 2px rgba(35, 34, 34, 0.48);
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 17px;
    transition: all 150ms ease-in-out;
}

.renderMore:hover{
    background-color: #58042e;
}