.sendContainer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: calc(57px + 1.8vh);
    /* min-height: 50px;
    max-height: 95px; */
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: rgb(29, 28, 28);
    border-radius: 6px;
    justify-content: center;
}

.replyContainer {
    width: 100%;
    position: fixed;
    bottom: calc(57px + 1.8vh);
    height: calc(37px + 1.8vh);
    background-color: rgb(29, 28, 28);
    border-radius: 10px 10px 0px 0px;
}

.replyContainer button {
    position: absolute;
    right: 8px;
    top: 0px;
    color: rgb(219, 219, 219);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: calc(19px + 0.1vw);
}

.replyContainer p {
    background-color: rgb(40, 39, 39);
    width: calc(80% + 80px + 2vw);
    max-width: calc(90%);
    height: 75%;
    font-size: 19px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    overflow: hidden;
    color: rgb(180, 179, 179);
    border-left: 4px solid #800040;
    padding-right: 10px;
}

.sendContainer h4 {
    font-size: calc(20px + 0.1vw);
}

.sendContainer input {
    background-color: rgb(48, 48, 48);
    width: 80%;
    height: 75%;
    max-height: 63px;
    font-size: 20px;
    color: rgb(219, 219, 219);
    outline: none;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    box-shadow: 0px 0px 1px 2px rgba(23, 22, 22, 0.38);
    padding-left: 8px;
    padding-right: 8px;
}

.sendContainer button {
    border-radius: 50%;
    background-color: #800040;
    border: none;
    outline: none;
    cursor: pointer;
    width: calc(40px + 1vw);
    height: calc(40px + 1vw);
    max-height: 63px;
    max-width: 63px;
    color: white;
    font-size: calc(18px + 0.1vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 100ms ease-in-out;
}

.sendContainer button:hover {
    background-color: #460626;
}

.backBut {
    border: none;
    width: calc(35px + 1vw);
    height: calc(25px + 1vh);
    margin-left: 5px;
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    transition: all 100ms ease-in-out;
}

.mesNav {
    width: 100%;
    height: calc(55px + 1vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: rgb(34, 34, 34);
    margin-bottom: 8px;
}

.containers {
    display: flex;
    align-items: center;
    position: relative;
}

.messageContainer {
    overflow-y: scroll;
    margin-bottom: 10px;
    height: calc(97.2vh - 125px);
    width: 100%;
    scrollbar-color: rgb(35, 34, 34);
    scrollbar-width: thin;
    padding-top: 40px;
}

.messageContainer::-webkit-scrollbar {
    width: 4px;
}

.messageContainer::-webkit-scrollbar-track {
    background-color: rgb(35, 34, 34);
}

.messageContainer::-webkit-scrollbar-thumb {
    background: rgb(99, 98, 98);
}

.options {
    border: none;
    width: calc(30px + 1vw);
    height: calc(25px + 1vh);
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    transition: all 100ms ease-in-out;
}

.mesNav h2 {
    color: white;
    cursor: pointer;
}

.alignImg {
    width: calc(37px + 0.5vw);
    height: calc(37px + 0.5vw);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    cursor: pointer;
}

.alignImg img {
    border-radius: 50%;
}

.backBut:hover,
.options:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: black;
}

.myMessage {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5px;
    transition: background 200ms ease-in-out;
}

.friendMessage {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: background 200ms ease-in-out;
}

.myMessageContainer {
    max-width: 75vw;
    min-width: 70px;
    background-color: #800040;
    margin-right: 12px;
    border-radius: 8px 8px 0px 8px;
    padding-left: 7px;
    padding-right: 35px;
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 19px;
}

.messageOptions {
    position: absolute;
    right: 3px;
    height: 20px;
    width: 20px;
    top: 3px;
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    border: none;
    outline: none;
    color: rgb(184, 184, 184);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.myMessageContainer:hover .messageOptions {
    display: inline-block;
}

.friendContainer:hover .messageOptions {
    display: inline-block;
}

.myText,
.friendText {
    font-size: calc(19px + 0.1vw);
    overflow-wrap: break-word;
    width: 100%;
}

.friendContainer {
    max-width: 75vw;
    min-width: 70px;
    margin-left: 12px;
    border-radius: 8px 8px 8px 0px;
    background-color: rgb(48, 48, 48);
    padding: 3px;
    padding-left: 7px;
    padding-bottom: 15px;
    padding-right: 35px;
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.tailF {
    position: absolute;
    border: 3px solid rgb(48, 48, 48);
    bottom: 0px;
    left: -2px;
    border-radius: 6px 0px 0px 0px;
}

.tailM {
    position: absolute;
    border: 3px solid #800040;
    bottom: 0px;
    right: -2px;
    border-radius: 0px 6px 0px 0px;
}

.messageTime {
    position: absolute;
    right: 6px;
    bottom: 3px;
}

.myMessageTime {
    position: absolute;
    right: 27px;
    bottom: 3px;
}

.checkMessage {
    position: absolute;
    bottom: 3px;
    right: 7px;
    color: rgb(255, 255, 255);
}

.renderMoreDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renderMore {
    cursor: pointer;
    height: 40px;
    width: calc(140px + 1vw);
    border-radius: 20px;
    outline: none;
    margin: auto;
    color: white;
    background-color: #800040;
    border: none;
    box-shadow: 0px 0px 1px 2px rgba(35, 34, 34, 0.48);
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 17px;
    transition: all 150ms ease-in-out;
}

.renderMore:hover {
    background-color: #58042e;
}

.img {
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    max-height: 460px;
}

.myImgContainer {
    max-width: 75vw;
    min-width: 70px;
    background-color: #800040;
    margin-right: 12px;
    border-radius: 8px 8px 0px 8px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px;
}

.myImgContainer:hover .messageOptions {
    display: inline-block;
}

@media only screen and (min-width: 1200px) {
    .myImgContainer {
        max-width: 1000px;
    }
}

.optionsContainer {
    position: absolute;
    background-color: rgb(21, 21, 21);
    bottom: calc(-175px - 5vh - 5px);
    z-index: 100;
    right: 10px;
    width: calc(140px + 1vw);
    box-shadow: 0px 0px 1px 2px rgba(35, 34, 34, 0.48);
    border-radius: 7px;
    transition: opacity 300ms ease-in-out;
}

.optionsContainer button {
    width: 100%;
    height: calc(35px + 1vh);
    cursor: pointer;
    color: white;
    background-color: rgb(21, 21, 21);
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.optionsContainer button:first-child {
    border-radius: 7px 7px 0px 0px;
}

.optionsContainer button:last-child {
    border-radius: 0px 0px 7px 7px;
}

.optionsContainer button:hover {
    background-color: rgb(35, 34, 34);
}

#open {
    opacity: 1;
}

#close {
    opacity: 0;
    bottom: calc(140px + 4vh);
}

.focusImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(35, 34, 34);
    z-index: 402;
    transition: all 200ms ease-in-out;
    top: 0px;
    left: 0px;
}

.focusImage button {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
    border: none;
    background-color: transparent;
    color: white;
}

.focusImage button:hover {
    color: grey;
}

.imgFocus {
    /* width: 100%; */
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingContainer {
    width: 100%;
    position: absolute;
    z-index: 20;
    height: calc(99vh - 65px);
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 15px solid white;
    border-top: 15px solid #800040;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mediaImageProfile {
    width: calc(150px + 1vw);
    height: calc(150px + 1vw);
    position: relative;
    border-radius: 50%;
    margin: auto;
}

.mediaImageProfile img {
    border-radius: 100px;
}

.mediaContainer {
    position: absolute;
    z-index: 400;
    width: 100%;
    height: auto;
    min-height: 100vh;
    top: 0px;
    background: #121212;
    padding-top: 20px;
}

.mediaBackBut {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    outline: none;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    font-size: 17px;
    color: #800040;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 1px 2px rgba(35, 34, 34, 0.48);
}

.mediaInfo {
    display: flex;
    width: calc(350px + 1vw);
    margin: auto;
    justify-content: space-evenly;
    font-size: calc(17px + 0.1vw);
    margin-top: 9px;
}

.mediaInfo h4 {
    width: 100%;
    text-align: center;
}

.icons {
    font-size: calc(20px + 0.1vw);
    width: 100%;
    text-align: center;
    color: #800040;
}

.mediaContent {
    border-top: 1px solid rgb(195, 195, 195);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5px;
    padding-top: 5px;
    overflow-x: hidden;
}

.mediaContent h4 {
    font-size: calc(18px + 0.1vw);
    width: 100vw;
    text-align: center;
    margin-top: 10px;
}

.mediaRenderImage {
    width: calc(160px + 1vw);
    height: calc(160px + 1vw);
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mediaRenderImage img {
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.mediaRenderImage img:hover {
    opacity: 0.5;
}

.filePDF {
    width: 100%;
    height: 100%;
}

.myPDFContainer {
    width: 75vw;
    height: 60vh;
    max-width: 800px;
    background-color: #800040;
    margin-right: 12px;
    border-radius: 8px 8px 0px 8px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 3px;
}

.friendPDFContainer {
    width: 75vw;
    height: 60vh;
    max-width: 800px;
    margin-left: 12px;
    border-radius: 8px 8px 8px 0px;
    background-color: rgb(48, 48, 48);
    padding: 3px;
    padding-left: 7px;
    padding-bottom: 15px;
    padding-right: 15px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.painTextFile {
    width: 30vw;
    background-color: white;
    height: calc(45px + 1vh);
    max-width: 400px;
    min-width: 220px;
    margin-right: 12px;
    border: 3px solid #800040;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(19px + 0.1vw);
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.painTextFile span,
.painTextFileFriend span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.painTextFileFriend {
    width: 30vw;
    background-color: white;
    height: 60px;
    max-width: 400px;
    min-width: 220px;
    margin-left: 12px;
    border: 3px solid rgb(48, 48, 48);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(19px + 0.1vw);
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.deleteModule {
    position: absolute;
    z-index: 404;
    width: 100%;
    height: auto;
    min-height: 100vh;
    top: 0px;
    background: rgba(18, 18, 18, 0.4);
}

.deleteContent {
    width: 40vw;
    min-width: 300px;
    max-width: 600px;
    min-height: 180px;
    max-height: 300px;
    background-color: rgb(33, 33, 33);
    height: 15vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 1px 2px rgba(35, 34, 34, 0.48);
    border-radius: 8px;
    padding: 8px;
}

.deleteContent h4 {
    width: 100%;
    text-align: center;
    font-size: calc(19px + 0.1vw);
    margin-top: 12px;
}

.deleteContent div {
    width: 100%;
    margin-top: 15px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.noButton {
    width: calc(100px + 1vw);
    height: calc(35px + 1vh);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: calc(17px + 0.1vw);
    background-color: #800040;
    color: white;
    transition: all 200ms ease-in-out;
}

.noButton:hover {
    background-color: #460626;
}

.yesButton {
    width: calc(100px + 1vw);
    height: calc(35px + 1vh);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: calc(17px + 0.1vw);
    color: #800040;
    transition: all 200ms ease-in-out;
}

.infoContainer {
    margin-left: 5px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.infoContainer p {
    color: white;
}

.messageOptionsContainer {
    position: absolute;
    top: -108px;
    background-color: red;
    width: 120px;
    right: 6px;
    background-color: rgb(31, 31, 31);
    z-index: 399;
    box-shadow: 0px 0px 1px 1px rgba(22, 22, 22, 0.28);
    border-radius: 6px;
}

.messageOptionsContainer button,
.messageOptionsContainerFriend button {
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: calc(16px + 0.1vw);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.messageOptionsContainer button:hover,
.messageOptionsContainerFriend button:hover {
    background-color: #0a0a0a;
}

.messageOptionsContainerFriend {
    position: absolute;
    top: -108px;
    background-color: red;
    width: 120px;
    right: -51px;
    background-color: rgb(31, 31, 31);
    z-index: 399;
    box-shadow: 0px 0px 1px 1px rgba(22, 22, 22, 0.28);
    border-radius: 6px;
}

.replyMessage {
    width: 100%;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
    color: rgb(178, 178, 178);
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 5px;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-right: 5px;
    margin-bottom: 2px;
    box-shadow: 0px 0px 1px 1px rgba(27, 27, 27, 0.18);
    cursor: pointer;
}

.replyMessage p {
    overflow-wrap: break-word;
    width: 100%;
    cursor: pointer;
}

.scrollToBottom {
    position: fixed;
    bottom: calc(105px + 3.6vh);
    right: 10px;
    z-index: 399;
    width: 35px;
    height: 35px;
    cursor: pointer;
    outline: none;
    background-color: rgb(48, 48, 48);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0px 0px 2px 2px rgba(21, 21, 21, 0.28);
    display: flex;
    align-items: center;
    justify-content: center;
}

.replyImage {
    position: relative;
    height: calc(32px + 1.8vh);
    width: calc(32px + 1.8vh);
}

.replyImage img {
    border-radius: 6px;
}

.imgMainReply {
    background-color: rgb(40, 39, 39);
    width: calc(80% + 80px + 2vw);
    max-width: calc(90%);
    height: 94%;
    font-size: 19px;
    margin: auto;
    margin-top: 4px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    overflow: hidden;
    color: rgb(180, 179, 179);
    border-left: 4px solid #800040;
    padding-right: 20px;
}

.chatDate {
    width: 60%;
    text-align: center;
    height: 30px;
    background: rgba(128, 0, 64, 0.5);
    display: flex;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    justify-content:center;
    font-size: calc(18px + 0.1vw);
    margin-bottom: 10px;
    border-radius: 20px;
}

.friendTagMessage{
    margin: 0px;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-size: calc(16px + 0.1vw);
}